# Archivos de entorno
.env
*.env

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Archivos de configuración de IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Directorios de virtualenv
venv/
env/
.venv/
.env/

# Archivos de prueba
htmlcov/
.coverage
.pytest_cache/
test_temp_data/ # El directorio que creamos para las pruebas de data_loader

# Archivos de Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log
logs/

# Archivos temporales
*.tmp
*.bak
*.swp

# Visualización del grafo
graph_visualization.png
